@model IEnumerable<BusinessLibrary.Table.cls_x_CustInq_First_Step_Disp>
@{
    ViewBag.Title = "followup";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<button type="button" class="close" style="margin-top:55px; margin-right:15px" onclick="location.href='@Url.Action("quotationdetail","home")'">×</button>

<!-- DataTables -->
<link href="~/assets/plugins/datatables/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css" />
<link href="~/assets/plugins/datatables/buttons.bootstrap4.min.css" rel="stylesheet" type="text/css" />
<!-- Responsive datatable examples -->
<link href="~/assets/plugins/datatables/responsive.bootstrap4.min.css" rel="stylesheet" type="text/css" />
<!--bootstrap css-->
<link href="~/assets/css/bootstrap.min.css" rel="stylesheet" />
<link href="~/assets/css/style.css" rel="stylesheet" />

<h5 style="margin-top:0px; margin-left:12px">Qutation Entry  Detail  <i class="ion-arrow-left-a"></i> Follow Up Cost</h5>
<input type="button" value="Back" style="margin-top:10px; margin-left:15px" class="btn btn-outline-primary" onclick="location.href='@Url.Action("quotationdetail","home")'" />

<div class="container-fluid">
    <div class="alert alert-dark" role="alert" style="margin-top:20px">
        <h1 align="center">Follow Up Cost</h1>
    </div>
    <hr />
    <div class="container">
        <form name="myform" class="form-group">
            <div class="row">
                <div class="col-sm-5 ">
                    <div class="form-group">
                        <label>Follow Up Cost:</label>
                        <select class="form-control">
                            <option>英文备注</option>
                            <option>英文备注-dark sky</option>
                            <option>Eurofase 包年</option>
                            <option>ETL繁体备注-未税-普通</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-1" style="margin-top:31px">
                    <input type="number" class="form-control" />
                </div>
                <div class="col-sm-6" style="margin-top:31px">
                    <label class="form-control" style="background-color:orange">Template</label>
                </div>
            </div>
        </form>
    </div>
    <hr />

    <div class="container-fluid" style="margin-top:30px">
        <div class="row">
            <div class="col-12">
                <div class="card m-b-30">
                    <div class="card-body">
                        <table id="datatable" class="table  table-striped table-responsive table-bordered" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Selection</th>
                                    <th>ETL Follow Up Fee</th>
                                    <th>Price (USD)</th>
                                    <th>Frequency</th>
                                    <th>Remark</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td><input type="checkbox"></td>
                                    <td>(A) Initial Factory Inspection Fee</td>
                                    <td>478+Travel Expense</td>
                                    <td>This fee is only incurred when applying for a new ETL control number</td>
                                    <td>Please see (E) for travel expenses</td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td><input type="checkbox"></td>
                                    <td>(B) Quarterly Certification Fee</td>
                                    <td>350*4</td>
                                    <td>Once per quarter</td>
                                    <td>NA</td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td><input type="checkbox"></td>
                                    <td>(C) Quarterly Follow-up Factory Inspection Fee</td>
                                    <td>324*12+Travel expense</td>
                                    <td>Once per quarter</td>
                                    <td>Please see item (E) for travel expenses</td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td><input type="checkbox"></td>
                                    <td>(D) Annual Direct Label Imprint Fee(You may print ETL label by yourself)</td>
                                    <td>650</td>
                                    <td>Once per year</td>
                                    <td>NA</td>
                                </tr>
                                <tr>
                                    <td>5</td>
                                    <td><input type="checkbox"></td>
                                    <td>(E) Travel expense</td>
                                    <td>60</td>
                                    <td>Generated during each factory inspection</td>
                                    <td>This fee is the minimum fee, and the actual travel expenses are subject to Intertek’s notice</td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td><input type="checkbox"></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid" style="margin-top:30px">
        <div class="row">
            <div class="col-sm-6">
                <div class="card m-b-30">
                    <div class="card-body">
                        <table class="table table-hover table-bordered">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Selection</th>
                                    <th>Description</th>
                                    <th>Formula</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td><input type="checkbox"></td>
                                    <td>xxxx</td>
                                    <td>xxxx</td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td><input type="checkbox"></td>
                                    <td>xxxxx</td>
                                    <td>xxxxx</td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td><input type="checkbox"></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card m-b-30">
                    <div class="card-body">
                        <table class="table table-responsive table-hover table-bordered">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Selection</th>
                                    <th>Description</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td><input type="checkbox"></td>
                                    <td>
                                        1. -> The above cost is for ONE factory only (one - ETL control num)
                                        2. -> The above cost does not include any tax
                                        3. -> The above fees are the official followup fees ofintertek in 2022. All actual feesare subject tointertek's announcement and will be directly chargedby intertek to your company
                                        4. -> Testing
                                    </td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td><input type="checkbox"></td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr />

    <div class="container">
        <div class="row">
            <div class="col-sm-5">
                <div class="form-floating">
                    <label>Remark:</label>
                    <textarea class="form-control" id="floatingTextarea"></textarea>
                </div>
            </div>
            <div class="col-sm-1" align="center" style="margin-top:30px ">
                <input type="button" value="Close" class="btn btn-outline-danger" />
            </div>
            <div class="col-sm-5" align-item="left">
                <label>Save As Follow Up Cost :</label>
                <select class="form-control">
                    <option>英文备注</option>
                    <option>英文备注-dark sky</option>
                    <option>Eurofase 包年</option>
                    <option>ETL繁体备注-未税-普通</option>
                </select>
            </div>
            <div class="col-sm-1" style="margin-top:30px">
                <input type="number" class="form-control" />
            </div>
            <div class="col-sm-6" align="left" style="margin-top:15px">
                <input type="button" style="width:100px" value="Save" class="btn btn-success" />
                <input type="button" style="width:100px" value="Delate" class="btn btn-danger" />
            </div>
            <div class="col-sm-6" align="left" style="margin-top:15px">
                <input type="button" style="width:150px" value="+/- Master" class="btn btn-secondary" />
                <input type="button" style="width:150px" value="Save As Master  " class="btn btn-secondary" />
            </div>
        </div>
    </div>
</div>
<hr />


@section scripts{
    var popup,dataTable;

    <!-- Required datatable js -->
    <script src="~/assets/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/assets/plugins/datatables/dataTables.bootstrap4.min.js"></script>
    <!-- Buttons examples -->
    <script src="~/assets/plugins/datatables/dataTables.buttons.min.js"></script>
    <script src="~/assets/plugins/datatables/buttons.bootstrap4.min.js"></script>
    <script src="~/assets/plugins/datatables/jszip.min.js"></script>
    <script src="~/assets/plugins/datatables/pdfmake.min.js"></script>
    <script src="~/assets/plugins/datatables/vfs_fonts.js"></script>
    <script src="~/assets/plugins/datatables/buttons.html5.min.js"></script>
    <script src="~/assets/plugins/datatables/buttons.print.min.js"></script>
    <script src="~/assets/plugins/datatables/buttons.colVis.min.js"></script>
    <!-- Responsive examples -->
    <script src="~/assets/plugins/datatables/dataTables.responsive.min.js"></script>
    <script src="~/assets/plugins/datatables/responsive.bootstrap4.min.js"></script>

    <!-- Datatable init js -->
    <script src="~/assets/pages/datatables.init.js"></script>

    <!-- App js -->
    <script src="~/assets/js/app.js"></script>
    @*todo 22 05 14*@
    <script src="~/assets/plugins/jquery-ui/jquery-ui.min.js"></script>
    <link href="~/assets/plugins/jquery-ui/jquery-ui.min.css" rel="stylesheet" />

    @*todo 22 05 14*@
    <script>
        var Popup, dataTable;

        //$(document).ready(function () {
        //    dataTable = $("employeeTable").Datatable({
        //        "ajax": {
        //            "url": "/Employee/GetData",
        //            "type": "GET",
        //            "datatype": "json"
        //        },
        //        "columns": [
        //            { "data": "Name" }
        //        ],
        //        "language": {
        //            "emptyTable": "No data found"
        //        }
        //    });
        //});

        //$(document).ready(function () {
        //    $('#dialog').dialog({
        //        autoOpen: true,
        //    });
        //});

        function PopupForm(url) {
            //alert(url);
            var formDiv = $('<div/>');
            //alert(formDiv);
            $.get(url)
            .done(function (response) {
                formDiv.html(response);

                Popup = formDiv.dialog({
                    autoOpen: true,
                    resizable: false,
                    title: 'Fill Employee Details',
                    height: 750,
                    width: 1200,
                    close: function () {
                        Popup.dialog('destroy').remove()
                    }
                });
            });
        }

    </script>
}














