
@{
    ViewBag.Title = "mywallet";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- DataTables -->
<link href="~/assets/plugins/datatables/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css" />
<link href="~/assets/plugins/datatables/buttons.bootstrap4.min.css" rel="stylesheet" type="text/css" />
<!-- Responsive datatable examples -->
<link href="~/assets/plugins/datatables/responsive.bootstrap4.min.css" rel="stylesheet" type="text/css" />

<div class="container-fluid">

    <div class="row">
        <div class="col-sm-12">
            <div class="page-title-box">
                <div class="btn-group float-right">
                    <ol class="breadcrumb hide-phone p-0 m-0">
                        <li class="breadcrumb-item"><a href="#">Transaction</a></li>
                        <li class="breadcrumb-item active">Quotation</li>
                    </ol>
                </div>
                <h4 class="page-title">Quotation Summary</h4>
            </div>
        </div>
    </div>
    <!-- end page title end breadcrumb -->
     
     

    <div class="row">
        <div class="col-12">
            <div class="card m-b-30">
                <div class="card-body">

                    @*<h4 class="mt-0 header-title">Buttons example</h4>
                    <p class="text-muted m-b-30 font-14">
                        The Buttons extension for DataTables
                        provides a common set of options, API methods and styling to display
                        buttons on a page that will interact with a DataTable. The core library
                        provides the based framework upon which plug-ins can built.
                    </p>*@

                    <table id="datatable-buttons" class="table table-striped table-bordered" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th>Trn.No</th>
                                <th width="65">Date</th>
                                <th>Quote<br />Number</th>
                                <th>Project<br />Number</th>
                                <th>Certificate<br />Type</th>
                                <th>Customer</th>
                                <th>Owner</th>
                                <th>Remark</th>
                                <th>Opened</th>
                                <th width="65">Sign Back</th>
                                <th>Closed Date</th>
                                <th>Reason</th>

                            </tr>
                        </thead>


                        <tbody>
                            <tr>	<td>	1	</td>	<td>	04/01/2022	</td>	<td>	22010403	</td>	<td>	DA20220110J01	</td>	<td>	UL 496 Lampholder 	</td>	<td>	DALS Lighting Inc.	</td>	<td>	Christine	</td>	<td>		</td>	<td>	Yes	</td>	<td>	07/01/2022	</td>	<td>		</td>	<td>		</td>	</tr>
                            <tr>	<td>	2	</td>	<td>	04/01/2022	</td>	<td>	22010402	</td>	<td>		</td>	<td>	UL 1598 & CSA C22.2 No. 250.0  UL 1598 & CSA C22.2 No. 250.0 	</td>	<td>	Mospen Products Company	</td>	<td>	Christine	</td>	<td>		</td>	<td>	Yes	</td>	<td>		</td>	<td>		</td>	<td>		</td>	</tr>
                            <tr>	<td>	3	</td>	<td>	04/01/2022	</td>	<td>	22010401	</td>	<td>		</td>	<td>	 	</td>	<td>	Mospen Products Company	</td>	<td>	Christine	</td>	<td>		</td>	<td>	Yes	</td>	<td>		</td>	<td>		</td>	<td>		</td>	</tr>
                            <tr>	<td>	4	</td>	<td>	01/12/2021	</td>	<td>	22010404	</td>	<td>		</td>	<td>	UL 1598 & CSA C22.2 No. 250.0  UL 153 & CSA C22.2 No. 250.4 	</td>	<td>	东莞市迅测检测技术有限公司	</td>	<td>	Christine	</td>	<td>		</td>	<td>		</td>	<td>		</td>	<td>		</td>	<td>		</td>	</tr>
                            <tr>	<td>	5	</td>	<td>	04/01/2022	</td>	<td>	22010404	</td>	<td>		</td>	<td>	UL 1598 & CSA C22.2 No. 250.0    UL 153 & CSA C22.2 No. 250.4 	</td>	<td>	惠州市惠城区陈江协力五金灯饰加工厂	</td>	<td>	Christine	</td>	<td>		</td>	<td>		</td>	<td>		</td>	<td>		</td>	<td>		</td>	</tr>
                            <tr>	<td>	6	</td>	<td>	04/01/2022	</td>	<td>	22010405	</td>	<td>		</td>	<td>	IES TM-15 	</td>	<td>	Troy-CSL Lighting Inc	</td>	<td>	Christine	</td>	<td>		</td>	<td>		</td>	<td>		</td>	<td>		</td>	<td>		</td>	</tr>
                            <tr>	<td>	7	</td>	<td>	05/01/2022	</td>	<td>	22010501	</td>	<td>		</td>	<td>	UL 1598 & CSA C22.2 No. 250.0 	</td>	<td>	JuAn Lighting & Hardware co., Ltd	</td>	<td>	Christine	</td>	<td>		</td>	<td>		</td>	<td>		</td>	<td>		</td>	<td>		</td>	</tr>
                            <tr>	<td>	8	</td>	<td>	05/01/2022	</td>	<td>	22010502	</td>	<td>		</td>	<td>	IES TM-15 	</td>	<td>	Troy-CSL Lighting Inc	</td>	<td>	Christine	</td>	<td>		</td>	<td>		</td>	<td>		</td>	<td>		</td>	<td>		</td>	</tr>
                            <tr>	<td>	9	</td>	<td>	05/01/2022	</td>	<td>	22010701	</td>	<td>		</td>	<td>	UL 153 & CSA C22.2 No. 250.4  UL 153 & CSA C22.2 No. 250.4  UL 1598 & CSA C22.2 No. 250.0 	</td>	<td>	彤品實業有限公司	</td>	<td>	Christine	</td>	<td>		</td>	<td>		</td>	<td>		</td>	<td>		</td>	<td>		</td>	</tr>
                            <tr>	<td>	10	</td>	<td>	06/01/2022	</td>	<td>	22010601	</td>	<td>		</td>	<td>	UL 153 & CSA C22.2 No. 250.4 	</td>	<td>	东莞市浩宇光电科技有限公司	</td>	<td>	Christine	</td>	<td>		</td>	<td>		</td>	<td>		</td>	<td>		</td>	<td>		</td>	</tr>
                            <tr>	<td>	11	</td>	<td>	06/01/2022	</td>	<td>	22010602	</td>	<td>		</td>	<td>	UL 153 & CSA C22.2 No. 250.4 	</td>	<td>	Z-Lite Inc	</td>	<td>	Christine	</td>	<td>		</td>	<td>		</td>	<td>		</td>	<td>		</td>	<td>		</td>	</tr>
                            <tr>	<td>	12	</td>	<td>	21/03/2022	</td>	<td>	22032101	</td>	<td>		</td>	<td>		</td>	<td>	HVL Group International BV	</td>	<td>	Rose	</td>	<td>		</td>	<td>		</td>	<td>		</td>	<td>		</td>	<td>		</td>	</tr>
                            <tr>	<td>	13	</td>	<td>	12/01/2022	</td>	<td>	22011201	</td>	<td>		</td>	<td>	UL 1598 & CSA C22.2 No. 250.0 	</td>	<td>	东莞市红富照明科技有限公司	</td>	<td>	Ceci	</td>	<td>		</td>	<td>		</td>	<td>		</td>	<td>		</td>	<td>		</td>	</tr>
                            <tr>	<td>	14	</td>	<td>	07/01/2022	</td>	<td>	22010702	</td>	<td>		</td>	<td>	UL 1598 & CSA C22.2 No. 250.0 	</td>	<td>	中山市柏妮达灯饰有限公司	</td>	<td>	Elena	</td>	<td>		</td>	<td>		</td>	<td>		</td>	<td>		</td>	<td>		</td>	</tr>
                            <tr>	<td>	15	</td>	<td>	14/01/2022	</td>	<td>	22011401	</td>	<td>		</td>	<td>	UL 153 & CSA C22.2 No. 250.4 	</td>	<td>	东莞市铭皓照明有限公司	</td>	<td>	Ceci	</td>	<td>		</td>	<td>		</td>	<td>		</td>	<td>		</td>	<td>		</td>	</tr>
                            <tr>	<td>	16	</td>	<td>	14/01/2022	</td>	<td>	22011403	</td>	<td>		</td>	<td>	UL 1598 & CSA C22.2 No. 250.0 	</td>	<td>	Mospen Products Company	</td>	<td>	Ceci	</td>	<td>		</td>	<td>		</td>	<td>		</td>	<td>		</td>	<td>		</td>	</tr>
                            <tr>	<td>	17	</td>	<td>	07/01/2022	</td>	<td>	22010704	</td>	<td>		</td>	<td>	UL 1598 & CSA C22.2 No. 250.0 	</td>	<td>	明欧家居有限公司	</td>	<td>	Elena	</td>	<td>		</td>	<td>		</td>	<td>		</td>	<td>		</td>	<td>		</td>	</tr>
                            <tr>	<td>	18	</td>	<td>	18/01/2022	</td>	<td>	22011801	</td>	<td>		</td>	<td>	IES TM-15  IES TM-15 	</td>	<td>	Troy-CSL Lighting Inc	</td>	<td>	Ceci	</td>	<td>		</td>	<td>		</td>	<td>		</td>	<td>		</td>	<td>		</td>	</tr>
                            <tr>	<td>	19	</td>	<td>	10/01/2022	</td>	<td>	22011003	</td>	<td>		</td>	<td>	UL60730-1&CSA-E60730-1+UL 1310  UL60730-1&CSA-E60730-1+UL 1310 	</td>	<td>	东莞市京亚电子电器科技有限公司	</td>	<td>	Elena	</td>	<td>		</td>	<td>		</td>	<td>		</td>	<td>		</td>	<td>		</td>	</tr>
                            <tr>	<td>	20	</td>	<td>	10/01/2022	</td>	<td>	22011002	</td>	<td>		</td>	<td>	UL 507 	</td>	<td>	中誉（中山）技术服务有限公司	</td>	<td>	Elena	</td>	<td>		</td>	<td>		</td>	<td>		</td>	<td>		</td>	<td>		</td>	</tr>
                            <tr>	<td>	21	</td>	<td>	11/01/2022	</td>	<td>	22011101	</td>	<td>		</td>	<td>	UL 153 & CSA C22.2 No. 250.4  UL 153 & CSA C22.2 No. 250.4 	</td>	<td>	貝泰有限公司	</td>	<td>	Elena	</td>	<td>		</td>	<td>		</td>	<td>		</td>	<td>		</td>	<td>		</td>	</tr>
                            <tr>	<td>	22	</td>	<td>	07/01/2022	</td>	<td>	22010703	</td>	<td>		</td>	<td>	UL 153 & CSA C22.2 No. 250.4 	</td>	<td>	永晉燈飾有限公司	</td>	<td>	Ceci	</td>	<td>		</td>	<td>		</td>	<td>		</td>	<td>		</td>	<td>		</td>	</tr>
                            <tr>	<td>	23	</td>	<td>	11/01/2022	</td>	<td>	22011103	</td>	<td>		</td>	<td>	UL 153 & CSA C22.2 No. 250.4 	</td>	<td>	貝泰有限公司	</td>	<td>	Elena	</td>	<td>		</td>	<td>		</td>	<td>		</td>	<td>		</td>	<td>		</td>	</tr>
                            <tr>	<td>	24	</td>	<td>	10/01/2022	</td>	<td>	22011001	</td>	<td>		</td>	<td>	UL 1598 & CSA C22.2 No. 250.0 	</td>	<td>	Systems Technology Group LTD	</td>	<td>	Ceci	</td>	<td>		</td>	<td>		</td>	<td>		</td>	<td>		</td>	<td>		</td>	</tr>
                            <tr>	<td>	25	</td>	<td>	11/01/2022	</td>	<td>	22011104	</td>	<td>		</td>	<td>	UL 153 & CSA C22.2 No. 250.4  UL 1598 & CSA C22.2 No. 250.0 	</td>	<td>	东莞市迅测检测技术有限公司	</td>	<td>	Elena	</td>	<td>		</td>	<td>		</td>	<td>		</td>	<td>		</td>	<td>		</td>	</tr>
                            <tr>	<td>	26	</td>	<td>	10/01/2022	</td>	<td>	22011004	</td>	<td>		</td>	<td>	UL 1598 & CSA C22.2 No. 250.0 	</td>	<td>	东莞市铭皓照明有限公司	</td>	<td>	Ceci	</td>	<td>		</td>	<td>		</td>	<td>		</td>	<td>		</td>	<td>		</td>	</tr>
                            <tr>	<td>	27	</td>	<td>	11/01/2022	</td>	<td>	22011102	</td>	<td>		</td>	<td>	UL 1598 & CSA C22.2 No. 250.0  UL 1598 & CSA C22.2 No. 250.0 	</td>	<td>	Mospen Products Company	</td>	<td>	Ceci	</td>	<td>		</td>	<td>		</td>	<td>		</td>	<td>		</td>	<td>		</td>	</tr>
                            <tr>	<td>	28	</td>	<td>	13/01/2022	</td>	<td>	22011301	</td>	<td>		</td>	<td>	UL 153 & CSA C22.2 No. 250.4 	</td>	<td>	东莞市浩宇光电科技有限公司	</td>	<td>	Elena	</td>	<td>		</td>	<td>		</td>	<td>		</td>	<td>		</td>	<td>		</td>	</tr>
                            <tr>	<td>	29	</td>	<td>	14/01/2022	</td>	<td>	22011402	</td>	<td>		</td>	<td>	FCC SDOC 	</td>	<td>	佛山市南海格林灯饰有限公司	</td>	<td>	Elena	</td>	<td>		</td>	<td>		</td>	<td>		</td>	<td>		</td>	<td>		</td>	</tr>
                            <tr>	<td>	30	</td>	<td>	21/01/2022	</td>	<td>	22012101	</td>	<td>		</td>	<td>	UL 1598 & CSA C22.2 No. 250.0 	</td>	<td>	Z-Lite Inc	</td>	<td>	Ceci	</td>	<td>		</td>	<td>		</td>	<td>		</td>	<td>		</td>	<td>		</td>	</tr>
                            <tr>	<td>	31	</td>	<td>	14/01/2022	</td>	<td>	22011404	</td>	<td>		</td>	<td>	UL 153 & CSA C22.2 No. 250.4  UL 153 & CSA C22.2 No. 250.4 	</td>	<td>	東莞市英耀燈飾有限公司	</td>	<td>	Elena	</td>	<td>		</td>	<td>		</td>	<td>		</td>	<td>		</td>	<td>		</td>	</tr>
                            <tr>	<td>	32	</td>	<td>	14/01/2022	</td>	<td>	22011405	</td>	<td>		</td>	<td>	UL 153 & CSA C22.2 No. 250.4 	</td>	<td>	SHANGHAI ROKINII ELECTRICAL	</td>	<td>	Elena	</td>	<td>		</td>	<td>		</td>	<td>		</td>	<td>		</td>	<td>		</td>	</tr>
                            <tr>	<td>	33	</td>	<td>	19/01/2022	</td>	<td>	22011901	</td>	<td>	20220428-001	</td>	<td>	UL 1574  UL 1598 & CSA C22.2 No. 250.0 	</td>	<td>	Asia Lighting Co., Ltd.	</td>	<td>	Elena	</td>	<td>		</td>	<td>	Yes	</td>	<td>		</td>	<td>		</td>	<td>		</td>	</tr>
                            <tr>	<td>	34	</td>	<td>	20/01/2022	</td>	<td>	22012001	</td>	<td>		</td>	<td>	FCC SDOC  ICES VOC  电源VI-级测试 	</td>	<td>	佛山市南海格林灯饰有限公司	</td>	<td>	Elena	</td>	<td>		</td>	<td>		</td>	<td>		</td>	<td>		</td>	<td>		</td>	</tr>
                            <tr>	<td>	35	</td>	<td>	21/01/2022	</td>	<td>	22012102	</td>	<td>		</td>	<td>	UL 1598 & CSA C22.2 No. 250.0  UL 153 & CSA C22.2 No. 250.4 	</td>	<td>	惠州市惠城区陈江协力五金灯饰加工厂	</td>	<td>	Elena	</td>	<td>		</td>	<td>		</td>	<td>		</td>	<td>		</td>	<td>		</td>	</tr>
                            <tr>	<td>	36	</td>	<td>	21/01/2022	</td>	<td>	22012103	</td>	<td>		</td>	<td>	UL 153 & CSA C22.2 No. 250.4  UL 153 & CSA C22.2 No. 250.4  UL 1598 & CSA C22.2 No. 250.0 	</td>	<td>	彤品實業有限公司	</td>	<td>	Elena	</td>	<td>		</td>	<td>		</td>	<td>		</td>	<td>		</td>	<td>		</td>	</tr>
                            <tr>	<td>	37	</td>	<td>	21/01/2022	</td>	<td>	22012104	</td>	<td>		</td>	<td>	UL 153 & CSA C22.2 No. 250.4  UL 153 & CSA C22.2 No. 250.4  UL 1598 & CSA C22.2 No. 250.0 	</td>	<td>	辉采实业有限公司	</td>	<td>	Ceci	</td>	<td>		</td>	<td>		</td>	<td>		</td>	<td>		</td>	<td>		</td>	</tr>
                            <tr>	<td>	38	</td>	<td>	24/01/2022	</td>	<td>	22012402	</td>	<td>		</td>	<td>	UL 1598 & CSA C22.2 No. 250.0  UL 1598 & CSA C22.2 No. 250.0 	</td>	<td>	Z-Lite Inc	</td>	<td>	Ceci	</td>	<td>		</td>	<td>		</td>	<td>		</td>	<td>		</td>	<td>		</td>	</tr>
                            <tr>	<td>	39	</td>	<td>	24/01/2022	</td>	<td>	22012401	</td>	<td>		</td>	<td>	FCC SDoC  ICES VOC  DOE+NRCAN  DOE+NRCAN 	</td>	<td>	佛山市南海格林灯饰有限公司	</td>	<td>	Elena	</td>	<td>		</td>	<td>		</td>	<td>		</td>	<td>		</td>	<td>		</td>	</tr>
                            <tr>	<td>	40	</td>	<td>	24/01/2022	</td>	<td>	22012403	</td>	<td>		</td>	<td>	UL 61010-1:2019& CSA C22.2#61010-1:2012+U1,U2,A1 	</td>	<td>	华仑电子(惠东)有限公司	</td>	<td>	Elena	</td>	<td>		</td>	<td>		</td>	<td>		</td>	<td>		</td>	<td>		</td>	</tr>
                            <tr>	<td>	41	</td>	<td>	24/01/2022	</td>	<td>	22012404	</td>	<td>		</td>	<td>	UL 153 & CSA C22.2 No. 250.4 	</td>	<td>	東莞市英耀燈飾有限公司	</td>	<td>	Elena	</td>	<td>		</td>	<td>		</td>	<td>		</td>	<td>		</td>	<td>		</td>	</tr>
                            <tr>	<td>	42	</td>	<td>	26/01/2022	</td>	<td>	22012601	</td>	<td>		</td>	<td>	 UL 1993 &CSA22.2 NO.1993  FCC SDoC  ICES VOC  FCC ID  IC ID 	</td>	<td>	DALS Lighting Inc.	</td>	<td>	Ceci	</td>	<td>		</td>	<td>		</td>	<td>		</td>	<td>		</td>	<td>		</td>	</tr>
                            <tr>	<td>	43	</td>	<td>	25/01/2022	</td>	<td>	22012501	</td>	<td>		</td>	<td>	CE-LVD  CE-LVD 	</td>	<td>	SHANGHAI ROKINII ELECTRICAL	</td>	<td>	Elena	</td>	<td>		</td>	<td>		</td>	<td>		</td>	<td>		</td>	<td>		</td>	</tr>
                            <tr>	<td>	44	</td>	<td>	08/02/2022	</td>	<td>	22020802	</td>	<td>		</td>	<td>	EN 60598-1;  EN 60598-2-1  EN 60598-2-4  IEC 60598-1;  IEC 60598-2-1  EN 60598-1;  EN 60598-2-1  EN 60598-2-4  IEC 60598-1;  IEC 60598-2-1   EN 62493;  EN 55015;  EN 61547;  EN 61000-3-2;  EN 61000-3-3   RoHS 2.0 	</td>	<td>	HVL Group International BV	</td>	<td>	Ceci	</td>	<td>		</td>	<td>		</td>	<td>		</td>	<td>		</td>	<td>		</td>	</tr>
                            <tr>	<td>	45	</td>	<td>	25/01/2022	</td>	<td>	22012502	</td>	<td>		</td>	<td>	UL 153 & CSA C22.2 No. 250.4 	</td>	<td>	ETANO HOME INDUSTRIAL CO., LTD 	</td>	<td>	Elena	</td>	<td>		</td>	<td>		</td>	<td>		</td>	<td>		</td>	<td>		</td>	</tr>
                            <tr>	<td>	46	</td>	<td>	08/02/2022	</td>	<td>	22020803	</td>	<td>		</td>	<td>	UL 2021 & CSA C22.2 No.46 	</td>	<td>	Eurofase Inc.	</td>	<td>	Ceci	</td>	<td>		</td>	<td>		</td>	<td>		</td>	<td>		</td>	<td>		</td>	</tr>
                            <tr>	<td>	47	</td>	<td>	25/01/2022	</td>	<td>	22012503	</td>	<td>		</td>	<td>	FCC SDoC  ICES VOC  NRCAN  DOE+NRCAN 	</td>	<td>	佛山市南海格林灯饰有限公司	</td>	<td>	Elena	</td>	<td>		</td>	<td>		</td>	<td>		</td>	<td>		</td>	<td>		</td>	</tr>
                            <tr>	<td>	48	</td>	<td>	10/02/2022	</td>	<td>	22021001	</td>	<td>		</td>	<td>	UL 1574& CSA C22.2 No 250.570 	</td>	<td>	Rise Lighting Co., Ltd.	</td>	<td>	Ceci	</td>	<td>		</td>	<td>		</td>	<td>		</td>	<td>		</td>	<td>		</td>	</tr>
                            <tr>	<td>	49	</td>	<td>	26/01/2022	</td>	<td>	22012602	</td>	<td>		</td>	<td>	UL 507 & CAN/CSA  C22.2 No. 113-12  	</td>	<td>	中誉（中山）技术服务有限公司	</td>	<td>	Elena	</td>	<td>		</td>	<td>		</td>	<td>		</td>	<td>		</td>	<td>		</td>	</tr>
                            <tr>	<td>	50	</td>	<td>	15/02/2022	</td>	<td>	22021503	</td>	<td>		</td>	<td>	IES TM-15  IES TM-15 	</td>	<td>	Troy-CSL Lighting Inc	</td>	<td>	Ceci	</td>	<td>		</td>	<td>		</td>	<td>		</td>	<td>		</td>	<td>		</td>	</tr>
                            <tr>	<td>	51	</td>	<td>	26/01/2022	</td>	<td>	22012603	</td>	<td>		</td>	<td>	UL 153 & CSA C22.2 No. 250.4  UL 153 & CSA C22.2 No. 250.4 	</td>	<td>	SHANGHAI ROKINII ELECTRICAL	</td>	<td>	Elena	</td>	<td>		</td>	<td>		</td>	<td>		</td>	<td>		</td>	<td>		</td>	</tr>
                            <tr>	<td>	52	</td>	<td>	07/02/2022	</td>	<td>	22020701	</td>	<td>		</td>	<td>	UL 153 & CSA C22.2 No. 250.4 	</td>	<td>	貝泰有限公司	</td>	<td>	Elena	</td>	<td>		</td>	<td>		</td>	<td>		</td>	<td>		</td>	<td>		</td>	</tr>
                            <tr>	<td>	53	</td>	<td>	07/02/2022	</td>	<td>	22020702	</td>	<td>		</td>	<td>	UL 153 & CSA C22.2 No. 250.4  UL 153 & CSA C22.2 No. 250.4 	</td>	<td>	東莞市英耀燈飾有限公司	</td>	<td>	Elena	</td>	<td>		</td>	<td>		</td>	<td>		</td>	<td>		</td>	<td>		</td>	</tr>
                            <tr>	<td>	54	</td>	<td>	15/02/2022	</td>	<td>	22021504	</td>	<td>		</td>	<td>	UL 1598 & CSA C22.2 No. 250.0 	</td>	<td>	HVL Group International BV	</td>	<td>	Ceci	</td>	<td>		</td>	<td>		</td>	<td>		</td>	<td>		</td>	<td>		</td>	</tr>
                            <tr>	<td>	55	</td>	<td>	15/02/2022	</td>	<td>	22021507	</td>	<td>		</td>	<td>	UL 153 & CSA C22.2 No. 250.4  UL 153 & CSA C22.2 No. 250.4  UL 1598 & CSA C22.2 No. 250.0 	</td>	<td>	辉采实业有限公司	</td>	<td>	Ceci	</td>	<td>		</td>	<td>		</td>	<td>		</td>	<td>		</td>	<td>		</td>	</tr>
                            <tr>	<td>	56	</td>	<td>	09/02/2022	</td>	<td>	22020901	</td>	<td>		</td>	<td>	UL 61010-1:2019& CSA C22.2#61010-1:2012+U1,U2,A1 	</td>	<td>	华仑电子(惠东)有限公司	</td>	<td>	Elena	</td>	<td>		</td>	<td>		</td>	<td>		</td>	<td>		</td>	<td>		</td>	</tr>
                            <tr>	<td>	57	</td>	<td>	16/02/2022	</td>	<td>	22021602	</td>	<td>		</td>	<td>	UL 1598 & CSA C22.2 No. 250.0 	</td>	<td>	辉采实业有限公司	</td>	<td>	Ceci	</td>	<td>		</td>	<td>		</td>	<td>		</td>	<td>		</td>	<td>		</td>	</tr>
                            <tr>	<td>	58	</td>	<td>	11/02/2022	</td>	<td>	22021102	</td>	<td>		</td>	<td>	UL 498 & CSA C22.2 No.42 	</td>	<td>	东莞市创景灯饰有限公司	</td>	<td>	Elena	</td>	<td>		</td>	<td>		</td>	<td>		</td>	<td>		</td>	<td>		</td>	</tr>
                            <tr>	<td>	59	</td>	<td>	15/02/2022	</td>	<td>	22021501	</td>	<td>		</td>	<td>	UL 1598 & CSA C22.2 No. 250.0  UL 1598 & CSA C22.2 No. 250.0 	</td>	<td>	SHANGHAI ROKINII ELECTRICAL	</td>	<td>	Elena	</td>	<td>		</td>	<td>		</td>	<td>		</td>	<td>		</td>	<td>		</td>	</tr>
                            <tr>	<td>	60	</td>	<td>	17/02/2022	</td>	<td>	22021703	</td>	<td>		</td>	<td>	UL 1026 & CSA C22.2 No. 64 	</td>	<td>	Zhongshan Yicai Electric Tech. Co., Ltd	</td>	<td>	Ceci	</td>	<td>		</td>	<td>		</td>	<td>		</td>	<td>		</td>	<td>		</td>	</tr>
                            <tr>	<td>	61	</td>	<td>	15/02/2022	</td>	<td>	22021508	</td>	<td>		</td>	<td>	UL 1598 & CSA C22.2 No. 250.0  UL 153 & CSA C22.2 No. 250.4 	</td>	<td>	SHANGHAI ROKINII ELECTRICAL	</td>	<td>	Elena	</td>	<td>		</td>	<td>		</td>	<td>		</td>	<td>		</td>	<td>		</td>	</tr>
                            <tr>	<td>	62	</td>	<td>	15/02/2022	</td>	<td>	22021505	</td>	<td>		</td>	<td>	UL 153 & CSA C22.2 No. 250.4 	</td>	<td>	惠州市铭凯照明有限公司 	</td>	<td>	Elena	</td>	<td>		</td>	<td>		</td>	<td>		</td>	<td>		</td>	<td>		</td>	</tr>
                            <tr>	<td>	63	</td>	<td>	18/02/2022	</td>	<td>	22021801	</td>	<td>		</td>	<td>	UL 2021 & CSA 22.2 NO.46 	</td>	<td>	Zhongshan Yicai Electric Tech. Co., Ltd	</td>	<td>	Ceci	</td>	<td>		</td>	<td>		</td>	<td>		</td>	<td>		</td>	<td>		</td>	</tr>
                            <tr>	<td>	64	</td>	<td>	15/02/2022	</td>	<td>	22021506	</td>	<td>		</td>	<td>	UL 1598 & CSA C22.2 No. 250.0  UL 1598 & CSA C22.2 No. 250.0 	</td>	<td>	ETANO HOME INDUSTRIAL CO., LTD 	</td>	<td>	Elena	</td>	<td>		</td>	<td>		</td>	<td>		</td>	<td>		</td>	<td>		</td>	</tr>
                            <tr>	<td>	65	</td>	<td>	18/02/2022	</td>	<td>	22021802	</td>	<td>		</td>	<td>	Subject 8802  IEC 62347-1 	</td>	<td>	Rise Lighting Co., Ltd.	</td>	<td>	Ceci	</td>	<td>		</td>	<td>		</td>	<td>		</td>	<td>		</td>	<td>		</td>	</tr>
                            <tr>	<td>	66	</td>	<td>	16/02/2022	</td>	<td>	22021601	</td>	<td>		</td>	<td>	UL1310 & CSA C22.2 No.223 	</td>	<td>	东莞市京亚电子电器科技有限公司	</td>	<td>	Elena	</td>	<td>		</td>	<td>		</td>	<td>		</td>	<td>		</td>	<td>		</td>	</tr>
                            <tr>	<td>	67	</td>	<td>	16/02/2022	</td>	<td>	22021603	</td>	<td>		</td>	<td>	UL 153 & CSA C22.2 No. 250.4  UL 1598 & CSA C22.2 No. 250.0 	</td>	<td>	彤品實業有限公司	</td>	<td>	Elena	</td>	<td>		</td>	<td>		</td>	<td>		</td>	<td>		</td>	<td>		</td>	</tr>
                            <tr>	<td>	68	</td>	<td>	21/02/2022	</td>	<td>	22022101	</td>	<td>		</td>	<td>	Subject 8802    IEC 62347-1  	</td>	<td>	Rise Lighting Co., Ltd.	</td>	<td>	Ceci	</td>	<td>		</td>	<td>		</td>	<td>		</td>	<td>		</td>	<td>		</td>	</tr>
                            <tr>	<td>	69	</td>	<td>	17/02/2022	</td>	<td>	22021701	</td>	<td>		</td>	<td>	UL 1598 & CSA C22.2 No. 250.0  UL 153 & CSA C22.2 No. 250.4 	</td>	<td>	惠州市惠城区陈江协力五金灯饰加工厂	</td>	<td>	Elena	</td>	<td>		</td>	<td>		</td>	<td>		</td>	<td>		</td>	<td>		</td>	</tr>
                            <tr>	<td>	70	</td>	<td>	17/02/2022	</td>	<td>	22021702	</td>	<td>		</td>	<td>	UL 1598 & CSA C22.2 No. 250.0 	</td>	<td>	佛山市赞隆照明有限公司	</td>	<td>	Elena	</td>	<td>		</td>	<td>		</td>	<td>		</td>	<td>		</td>	<td>		</td>	</tr>
                            <tr>	<td>	71	</td>	<td>	18/01/2022	</td>	<td>	22021803	</td>	<td>		</td>	<td>	UL 1598 & CSA C22.2 No. 250.0 	</td>	<td>	佛山市赞隆照明有限公司	</td>	<td>	Elena	</td>	<td>		</td>	<td>		</td>	<td>		</td>	<td>		</td>	<td>		</td>	</tr>
                            <tr>	<td>	72	</td>	<td>	18/02/2022	</td>	<td>	22021804	</td>	<td>		</td>	<td>	UL 1598 & CSA C22.2 No. 250.0  UL 1598 & CSA C22.2 No. 250.0 	</td>	<td>	鼎耀五金灯饰（惠州）有限公司 	</td>	<td>	Elena	</td>	<td>		</td>	<td>		</td>	<td>		</td>	<td>		</td>	<td>		</td>	</tr>
                            <tr>	<td>	73	</td>	<td>	22/02/2022	</td>	<td>	22022201	</td>	<td>		</td>	<td>	UL 1598 & CSA C22.2 No. 250.0  UL 1598 & CSA C22.2 No. 250.0 	</td>	<td>	Mospen Products Company	</td>	<td>	Ceci	</td>	<td>		</td>	<td>		</td>	<td>		</td>	<td>		</td>	<td>		</td>	</tr>
                            <tr>	<td>	74	</td>	<td>	18/01/2022	</td>	<td>	22021805	</td>	<td>		</td>	<td>	FCC ID  FCC SDoC  FCC ID  FCC SDoC 	</td>	<td>	東莞市英耀燈飾有限公司	</td>	<td>	Elena	</td>	<td>		</td>	<td>		</td>	<td>		</td>	<td>		</td>	<td>		</td>	</tr>
                            <tr>	<td>	75	</td>	<td>	22/02/2022	</td>	<td>	22022202	</td>	<td>		</td>	<td>	FCC ID+IC ID 	</td>	<td>	DALS Lighting Inc.	</td>	<td>	Ceci	</td>	<td>		</td>	<td>		</td>	<td>		</td>	<td>		</td>	<td>		</td>	</tr>
                            <tr>	<td>	76	</td>	<td>	22/02/2022	</td>	<td>	22022203	</td>	<td>		</td>	<td>	UL 153 & CSA C22.2 No. 250.4 	</td>	<td>	ETANO HOME INDUSTRIAL CO., LTD 	</td>	<td>	Elena	</td>	<td>		</td>	<td>		</td>	<td>		</td>	<td>		</td>	<td>		</td>	</tr>
                            <tr>	<td>	77	</td>	<td>	23/02/2022	</td>	<td>	22022302	</td>	<td>		</td>	<td>	UL 153 & CSA C22.2 No. 250.4 	</td>	<td>	ETANO HOME INDUSTRIAL CO., LTD 	</td>	<td>	Elena	</td>	<td>		</td>	<td>		</td>	<td>		</td>	<td>		</td>	<td>		</td>	</tr>
                            <tr>	<td>	78	</td>	<td>	23/02/2022	</td>	<td>	22022301	</td>	<td>		</td>	<td>	UL 2108 	</td>	<td>	DALS Lighting Inc.	</td>	<td>	Ceci	</td>	<td>		</td>	<td>		</td>	<td>		</td>	<td>		</td>	<td>		</td>	</tr>
                            <tr>	<td>	79	</td>	<td>	24/02/2022	</td>	<td>	22022401	</td>	<td>		</td>	<td>	UL 153 & CSA C22.2 No. 250.4 	</td>	<td>	东莞市祥瑞照明科技有限公司	</td>	<td>	Elena	</td>	<td>		</td>	<td>		</td>	<td>		</td>	<td>		</td>	<td>		</td>	</tr>
                            <tr>	<td>	80	</td>	<td>	25/02/2022	</td>	<td>	22022501	</td>	<td>		</td>	<td>	UL 153 & CSA C22.2 No. 250.4 	</td>	<td>	ETANO HOME INDUSTRIAL CO., LTD 	</td>	<td>	Elena	</td>	<td>		</td>	<td>		</td>	<td>		</td>	<td>		</td>	<td>		</td>	</tr>
                            <tr>	<td>	81	</td>	<td>	23/03/2022	</td>	<td>	22022303	</td>	<td>		</td>	<td>	UL 153 & CSA C22.2 No. 250.4  UL 153 & CSA C22.2 No. 250.4 	</td>	<td>	EVERMORE MFG CORP	</td>	<td>	Ceci	</td>	<td>		</td>	<td>		</td>	<td>		</td>	<td>		</td>	<td>		</td>	</tr>
                            <tr>	<td>	82	</td>	<td>	28/02/2022	</td>	<td>	22022801	</td>	<td>		</td>	<td>	T24 JA8 	</td>	<td>	佛山市南海格林灯饰有限公司	</td>	<td>	Elena	</td>	<td>		</td>	<td>		</td>	<td>		</td>	<td>		</td>	<td>		</td>	</tr>
                            <tr>	<td>	83	</td>	<td>	23/02/2022	</td>	<td>	22022304	</td>	<td>		</td>	<td>	UL 1598 & CSA C22.2 No. 250.0  UL 1598 & CSA C22.2 No. 250.0 	</td>	<td>	D.G.K-LIGHT LIGHTING CO.,LTD	</td>	<td>	Ceci	</td>	<td>		</td>	<td>		</td>	<td>		</td>	<td>		</td>	<td>		</td>	</tr>
                            <tr>	<td>	84	</td>	<td>	28/02/2022	</td>	<td>	22022802	</td>	<td>		</td>	<td>	UL 153 & CSA C22.2 No. 250.4  UL 1598 & CSA C22.2 No. 250.0 	</td>	<td>	东莞市金亚金典灯饰有限公司	</td>	<td>	Elena	</td>	<td>		</td>	<td>		</td>	<td>		</td>	<td>		</td>	<td>		</td>	</tr>
                            <tr>	<td>	85	</td>	<td>	28/02/2022	</td>	<td>	22022803	</td>	<td>		</td>	<td>	UL 153 & CSA C22.2 No. 250.4  UL 153 & CSA C22.2 No. 250.4  UL 1598 & CSA C22.2 No. 250.0 	</td>	<td>	彤品實業有限公司	</td>	<td>	Elena	</td>	<td>		</td>	<td>		</td>	<td>		</td>	<td>		</td>	<td>		</td>	</tr>
                            <tr>	<td>	86	</td>	<td>	28/02/2022	</td>	<td>	22022804	</td>	<td>		</td>	<td>	UL 153 & CSA C22.2 No. 250.4  UL 153 & CSA C22.2 No. 250.4  UL 1598 & CSA C22.2 No. 250.0 	</td>	<td>	辉采实业有限公司	</td>	<td>	Ceci	</td>	<td>		</td>	<td>		</td>	<td>		</td>	<td>		</td>	<td>		</td>	</tr>
                            <tr>	<td>	87	</td>	<td>	28/02/2022	</td>	<td>	22022805	</td>	<td>		</td>	<td>	FCC SDoC  ROHS 	</td>	<td>	中山市立藤照明有限公司	</td>	<td>	Elena	</td>	<td>		</td>	<td>		</td>	<td>		</td>	<td>		</td>	<td>		</td>	</tr>
                            <tr>	<td>	88	</td>	<td>	01/03/2022	</td>	<td>	22030103	</td>	<td>		</td>	<td>	UL 507 & CAN/CSA C22.2 No. 113-12  Title 10 → Chapter II   → Subchapter D →  Part 429 → §429.33   Ceiling fan light kits.   CEC-400-2017-002  10 CFR 430  10 CFR 430   ENERGY STAR®   Program Requirements   for Residential Ceiling   Fans and Ceiling Fan   Light Kits 	</td>	<td>	江门市蓬江区风尚电器制品有限公司	</td>	<td>	Ceci	</td>	<td>		</td>	<td>		</td>	<td>		</td>	<td>		</td>	<td>		</td>	</tr>
                            <tr>	<td>	89	</td>	<td>	02/03/2022	</td>	<td>	22030201	</td>	<td>		</td>	<td>	UL 153 & CSA C22.2 No. 250.4  UL 153 & CSA C22.2 No. 250.4  FCC SDoC  California Proposition 65 	</td>	<td>	EVERMORE MFG CORP	</td>	<td>	Ceci	</td>	<td>		</td>	<td>		</td>	<td>		</td>	<td>		</td>	<td>		</td>	</tr>
                            <tr>	<td>	90	</td>	<td>	01/03/2022	</td>	<td>	22030101	</td>	<td>		</td>	<td>	IEC/EN 60598-1  +IEC/EN 60698-2-1  +日本差异  CE-LVD 	</td>	<td>	佛山市南海格林灯饰有限公司	</td>	<td>	Elena	</td>	<td>		</td>	<td>		</td>	<td>		</td>	<td>		</td>	<td>		</td>	</tr>
                            <tr>	<td>	91	</td>	<td>	16/03/2022	</td>	<td>	22031603	</td>	<td>		</td>	<td>	UL 1598 & CSA C22.2 No. 250.0 	</td>	<td>	宁波市鄞州诚悦产品技术咨询有限公司 	</td>	<td>	Elena	</td>	<td>		</td>	<td>		</td>	<td>		</td>	<td>		</td>	<td>		</td>	</tr>
                            <tr>	<td>	92	</td>	<td>	04/03/2022	</td>	<td>	22030401	</td>	<td>		</td>	<td>	UL 2108 & CSA C22.2 No. 250.0  UL 2108 & CSA C22.2 No. 250.0  UL 2108 & CSA C22.2 No. 250.0  UL 2108 & CSA C22.2 No. 250.0 	</td>	<td>	Rise Lighting Co., Ltd.	</td>	<td>	Ceci	</td>	<td>		</td>	<td>		</td>	<td>		</td>	<td>		</td>	<td>		</td>	</tr>
                            <tr>	<td>	93	</td>	<td>	01/03/2022	</td>	<td>	22030102	</td>	<td>		</td>	<td>	UL 1598 & CSA C22.2 No. 250.0  UL 1598 & CSA C22.2 No. 250.0 	</td>	<td>	东莞市曼佳家居饰品有限公司	</td>	<td>	Elena	</td>	<td>		</td>	<td>		</td>	<td>		</td>	<td>		</td>	<td>		</td>	</tr>
                            <tr>	<td>	94	</td>	<td>	07/03/2022	</td>	<td>	22030702	</td>	<td>		</td>	<td>	UL 1993 &CSA22.2 NO.1993  FCC ID  IC ID 	</td>	<td>	DALS Lighting Inc.	</td>	<td>	Ceci	</td>	<td>		</td>	<td>		</td>	<td>		</td>	<td>		</td>	<td>		</td>	</tr>
                            <tr>	<td>	95	</td>	<td>	02/03/2022	</td>	<td>	22030202	</td>	<td>		</td>	<td>	UL 153 & CSA C22.2 No. 250.4  UL 153 & CSA C22.2 No. 250.4 	</td>	<td>	彤品實業有限公司	</td>	<td>	Elena	</td>	<td>		</td>	<td>		</td>	<td>		</td>	<td>		</td>	<td>		</td>	</tr>
                            <tr>	<td>	96	</td>	<td>	09/03/2022	</td>	<td>	22030901	</td>	<td>		</td>	<td>	UL 1598 & CSA C22.2 No. 250.0 	</td>	<td>	佛山市赞隆照明有限公司	</td>	<td>	Elena	</td>	<td>		</td>	<td>		</td>	<td>		</td>	<td>		</td>	<td>		</td>	</tr>
                            <tr>	<td>	97	</td>	<td>	07/03/2022	</td>	<td>	22030701	</td>	<td>		</td>	<td>	抗扰测试UL60730-1  2016(H26.4/5/8/9/10/11/  12.2/12.3/13/14) 	</td>	<td>	中誉（中山）技术服务有限公司	</td>	<td>	Elena	</td>	<td>		</td>	<td>		</td>	<td>		</td>	<td>		</td>	<td>		</td>	</tr>
                            <tr>	<td>	98	</td>	<td>	07/03/2022	</td>	<td>	22030703	</td>	<td>		</td>	<td>	EN 60598-1;  EN 60598-2-1  IEC 60598-1;  IEC 60598-2-1  EN 60598-1;  EN 60598-2-1   EN 62493;  EN 55015;  EN 61547;  EN 61000-3-2;  EN 61000-3-3   RoHS 2.0 	</td>	<td>	HVL Group International BV	</td>	<td>	Ceci	</td>	<td>		</td>	<td>		</td>	<td>		</td>	<td>		</td>	<td>		</td>	</tr>
                            <tr>	<td>	99	</td>	<td>	07/03/2022	</td>	<td>	22030704	</td>	<td>		</td>	<td>	FCC SDoC+ICES VOC  	</td>	<td>	佛山市南海格林灯饰有限公司	</td>	<td>	Elena	</td>	<td>		</td>	<td>		</td>	<td>		</td>	<td>		</td>	<td>		</td>	</tr>
                            <tr>	<td>	100	</td>	<td>	08/03/2022	</td>	<td>	22030803	</td>	<td>		</td>	<td>	UL 153 & CSA C22.2 No. 250.4  UL 153 & CSA C22.2 No. 250.4  UL 1598 & CSA C22.2 No. 250.0 	</td>	<td>	辉采实业有限公司	</td>	<td>	Ceci	</td>	<td>		</td>	<td>		</td>	<td>		</td>	<td>		</td>	<td>		</td>	</tr>
                            <tr>	<td>	101	</td>	<td>	08/03/2022	</td>	<td>	22030804	</td>	<td>		</td>	<td>	UL 153 & CSA C22.2 No. 250.4  UL 1598 & CSA C22.2 No. 250.0 	</td>	<td>	JuAn Lighting & Hardware co., Ltd	</td>	<td>	Elena	</td>	<td>		</td>	<td>		</td>	<td>		</td>	<td>		</td>	<td>		</td>	</tr>
                            <tr>	<td>	102	</td>	<td>	08/03/2022	</td>	<td>	22030801	</td>	<td>		</td>	<td>	UL 1598 & CSA C22.2 No. 250.0  UL 1598 & CSA C22.2 No. 250.0 	</td>	<td>	正東照明有限公司	</td>	<td>	Ceci	</td>	<td>		</td>	<td>		</td>	<td>		</td>	<td>		</td>	<td>		</td>	</tr>
                            <tr>	<td>	103	</td>	<td>	09/03/2022	</td>	<td>	22030902	</td>	<td>		</td>	<td>	UL 507 & CAN/CSA C22.2 No. 113-12 	</td>	<td>	江门市蓬江区风尚电器制品有限公司	</td>	<td>	Ceci	</td>	<td>		</td>	<td>		</td>	<td>		</td>	<td>		</td>	<td>		</td>	</tr>
                            <tr>	<td>	104	</td>	<td>	15/02/2022	</td>	<td>	22021501	</td>	<td>		</td>	<td>	UL 1598+UL 962+UL 1574+UL 2108+UL 48 	</td>	<td>	LIB Company	</td>	<td>	Elena	</td>	<td>		</td>	<td>		</td>	<td>		</td>	<td>		</td>	<td>		</td>	</tr>
                            <tr>	<td>	105	</td>	<td>	14/03/2022	</td>	<td>	22031401	</td>	<td>		</td>	<td>	UL 283 & CSA C22.2   NO. 64 	</td>	<td>	东莞亿得电器制品有限公司	</td>	<td>	Ceci	</td>	<td>		</td>	<td>		</td>	<td>		</td>	<td>		</td>	<td>		</td>	</tr>
                            <tr>	<td>	106	</td>	<td>	09/03/2022	</td>	<td>	22030903	</td>	<td>		</td>	<td>	UL 1993  FCC SDoC+FCC ID 	</td>	<td>	东莞市京亚电子电器科技有限公司	</td>	<td>	Elena	</td>	<td>		</td>	<td>		</td>	<td>		</td>	<td>		</td>	<td>		</td>	</tr>
                            <tr>	<td>	107	</td>	<td>	14/03/2022	</td>	<td>	22031402	</td>	<td>		</td>	<td>	UL 962A & CSA  C22.2 NO.250.0 	</td>	<td>	东莞市京亚电子电器科技有限公司	</td>	<td>	Elena	</td>	<td>		</td>	<td>		</td>	<td>		</td>	<td>		</td>	<td>		</td>	</tr>
                            <tr>	<td>	108	</td>	<td>	15/03/2022	</td>	<td>	22031501	</td>	<td>		</td>	<td>	UL 2108 & CSA   C22.2 No. 250.0  	</td>	<td>	Sonneman—A way of Light	</td>	<td>	Ceci	</td>	<td>		</td>	<td>		</td>	<td>		</td>	<td>		</td>	<td>		</td>	</tr>
                            <tr>	<td>	109	</td>	<td>	15/03/2022	</td>	<td>	22031502	</td>	<td>		</td>	<td>	FCF SDoC+IC VOC  Title 20 	</td>	<td>	佛山市南海格林灯饰有限公司	</td>	<td>	Elena	</td>	<td>		</td>	<td>		</td>	<td>		</td>	<td>		</td>	<td>		</td>	</tr>
                            <tr>	<td>	110	</td>	<td>	16/03/2022	</td>	<td>	22031602	</td>	<td>		</td>	<td>	Pro 65 	</td>	<td>	東莞市英耀燈飾有限公司	</td>	<td>	Elena	</td>	<td>		</td>	<td>		</td>	<td>		</td>	<td>		</td>	<td>		</td>	</tr>
                            <tr>	<td>	111	</td>	<td>	16/03/2022	</td>	<td>	22031601	</td>	<td>		</td>	<td>	FCC SDoC  FCC SDoC 	</td>	<td>	永晉燈飾有限公司	</td>	<td>	Ceci	</td>	<td>		</td>	<td>		</td>	<td>		</td>	<td>		</td>	<td>		</td>	</tr>
                            <tr>	<td>	112	</td>	<td>	18/03/2022	</td>	<td>	22031801	</td>	<td>		</td>	<td>	UL 1598 & CSA C22.2 No. 250.0  UL 962 &CSA   22.2 No. 250.0  UL 1574 & CSA   C22.2 No.9   UL 2108 & CSA   C22.2 No. 250.0  UL 48 & CSA   C22.2 No. 207 	</td>	<td>	Eurofase Inc.	</td>	<td>	Ceci	</td>	<td>		</td>	<td>		</td>	<td>		</td>	<td>		</td>	<td>		</td>	</tr>
                            <tr>	<td>	113	</td>	<td>	18/03/2022	</td>	<td>	22031803	</td>	<td>		</td>	<td>	UL 153 & CSA C22.2 No. 250.4  Title 20  ROHS  FCC SDoC 	</td>	<td>	东莞市闰鑫灯饰有限公司	</td>	<td>	Elena	</td>	<td>		</td>	<td>		</td>	<td>		</td>	<td>		</td>	<td>		</td>	</tr>
                            <tr>	<td>	114	</td>	<td>	18/03/2022	</td>	<td>	22031802	</td>	<td>		</td>	<td>	UL 153 & CSA C22.2 No. 250.4  Title 20  ROHS  FCC SDoC 	</td>	<td>	东莞市闰鑫灯饰有限公司	</td>	<td>	Elena	</td>	<td>		</td>	<td>		</td>	<td>		</td>	<td>		</td>	<td>		</td>	</tr>
                            <tr>	<td>	115	</td>	<td>	21/03/2022	</td>	<td>	22032101	</td>	<td>		</td>	<td>	UL 1598 & CSA C22.2 No. 250.0  UL 1598 & CSA C22.2 No. 250.0 	</td>	<td>	辉采实业有限公司	</td>	<td>	Ceci	</td>	<td>		</td>	<td>		</td>	<td>		</td>	<td>		</td>	<td>		</td>	</tr>
                            <tr>	<td>	116	</td>	<td>	21/03/2022	</td>	<td>	22032306	</td>	<td>		</td>	<td>	UL 1598 & CSA C22.2 No. 250.0  UL 1598 & CSA C22.2 No. 250.0 	</td>	<td>	中山市福笛灯饰厂	</td>	<td>	Elena	</td>	<td>		</td>	<td>		</td>	<td>		</td>	<td>		</td>	<td>		</td>	</tr>
                            <tr>	<td>	117	</td>	<td>	21/03/2022	</td>	<td>	22032103	</td>	<td>		</td>	<td>	Title 24  	</td>	<td>	HVL Group International BV	</td>	<td>	Ceci	</td>	<td>		</td>	<td>		</td>	<td>		</td>	<td>		</td>	<td>		</td>	</tr>
                            <tr>	<td>	118	</td>	<td>	21/03/2022	</td>	<td>	22032104	</td>	<td>		</td>	<td>	UL 1598 & CSA C22.2 No. 250.0 	</td>	<td>	HVL Group International BV	</td>	<td>	Ceci	</td>	<td>		</td>	<td>		</td>	<td>		</td>	<td>		</td>	<td>		</td>	</tr>
                            <tr>	<td>	119	</td>	<td>	21/03/2022	</td>	<td>	22032105	</td>	<td>		</td>	<td>	EN 60598-1;  EN 60598-2-1  EN 60598-2-4  IEC 60598-1;  IEC 60598-2-1  	</td>	<td>	HVL Group International BV	</td>	<td>	Ceci	</td>	<td>		</td>	<td>		</td>	<td>		</td>	<td>		</td>	<td>		</td>	</tr>
                            <tr>	<td>	120	</td>	<td>	23/03/2022	</td>	<td>	22032301	</td>	<td>		</td>	<td>	EN 60598-1;  EN 60598-2-1  EN 60598-2-4  IEC 60598-1;  IEC 60598-2-1  	</td>	<td>	HVL Group International BV	</td>	<td>	Ceci	</td>	<td>		</td>	<td>		</td>	<td>		</td>	<td>		</td>	<td>		</td>	</tr>
                            <tr>	<td>	121	</td>	<td>	24/03/2022	</td>	<td>	22032401	</td>	<td>		</td>	<td>	pro 65 	</td>	<td>	东莞市奕君实业有限公司	</td>	<td>	Elena	</td>	<td>		</td>	<td>		</td>	<td>		</td>	<td>		</td>	<td>		</td>	</tr>
                            <tr>	<td>	122	</td>	<td>	25/03/2022	</td>	<td>	22032501	</td>	<td>		</td>	<td>	UL 1598 & CSA C22.2 No. 250.0  UL 1598 & CSA C22.2 No. 250.0 	</td>	<td>	Mospen Products Company	</td>	<td>	Ceci	</td>	<td>		</td>	<td>		</td>	<td>		</td>	<td>		</td>	<td>		</td>	</tr>
                            <tr>	<td>	123	</td>	<td>	25/03/2022	</td>	<td>	22032502	</td>	<td>		</td>	<td>	UL 1598 & CSA C22.2 No. 250.0 	</td>	<td>	Troy-CSL Lighting Inc	</td>	<td>	Ceci	</td>	<td>		</td>	<td>		</td>	<td>		</td>	<td>		</td>	<td>		</td>	</tr>
                            <tr>	<td>	124	</td>	<td>	21/03/2022	</td>	<td>	22032102	</td>	<td>		</td>	<td>	UL 153 & CSA C22.2 No. 250.4  UL 153 & CSA C22.2 No. 250.4 	</td>	<td>	Kingtec Group Vietnam CO., LTD.	</td>	<td>	Ceci	</td>	<td>		</td>	<td>		</td>	<td>		</td>	<td>		</td>	<td>		</td>	</tr>
                            <tr>	<td>	125	</td>	<td>	25/03/2022	</td>	<td>	22032504	</td>	<td>		</td>	<td>	UL 1598 & CSA C22.2 No. 250.0  UL 1598 & CSA C22.2 No. 250.0 	</td>	<td>	Mospen Products Company	</td>	<td>	Ceci	</td>	<td>		</td>	<td>		</td>	<td>		</td>	<td>		</td>	<td>		</td>	</tr>
                            <tr>	<td>	126	</td>	<td>	28/03/2022	</td>	<td>	22032803	</td>	<td>		</td>	<td>	UL 1598 & CSA C22.2 No. 250.0  UL 153 & CSA C22.2 No. 250.4 	</td>	<td>	貝泰有限公司	</td>	<td>	Elena	</td>	<td>		</td>	<td>		</td>	<td>		</td>	<td>		</td>	<td>		</td>	</tr>
                            <tr>	<td>	127	</td>	<td>	29/03/2022	</td>	<td>	22032901	</td>	<td>		</td>	<td>	UL 1598 & CSA C22.2 No. 250.0  UL 1598 & CSA C22.2 No. 250.0 	</td>	<td>	SHANGHAI ROKINII ELECTRICAL	</td>	<td>	Elena	</td>	<td>		</td>	<td>		</td>	<td>		</td>	<td>		</td>	<td>		</td>	</tr>

                            
                        </tbody>
                    </table>

                </div>
            </div>
        </div> <!-- end col -->
    </div> <!-- end row -->

</div><!-- container -->

@section scripts{
    <!-- Required datatable js -->
    <script src="~/assets/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/assets/plugins/datatables/dataTables.bootstrap4.min.js"></script>
    <!-- Buttons examples -->
    <script src="~/assets/plugins/datatables/dataTables.buttons.min.js"></script>
    <script src="~/assets/plugins/datatables/buttons.bootstrap4.min.js"></script>
    <script src="~/assets/plugins/datatables/jszip.min.js"></script>
    <script src="~/assets/plugins/datatables/pdfmake.min.js"></script>
    <script src="~/assets/plugins/datatables/vfs_fonts.js"></script>
    <script src="~/assets/plugins/datatables/buttons.html5.min.js"></script>
    <script src="~/assets/plugins/datatables/buttons.print.min.js"></script>
    <script src="~/assets/plugins/datatables/buttons.colVis.min.js"></script>
    <!-- Responsive examples -->
    <script src="~/assets/plugins/datatables/dataTables.responsive.min.js"></script>
    <script src="~/assets/plugins/datatables/responsive.bootstrap4.min.js"></script>

    <!-- Datatable init js -->
    <script src="~/assets/pages/datatables.init.js"></script>

    <!-- App js -->
    <script src="~/assets/js/app.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#datatable2').DataTable();
        });
    </script>

}

